{#
/**
 * @file city_entity.html.twig
 * Default theme implementation to present Ciudad data.
 *
 * This template is used when viewing Ciudad pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_city_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('city_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
