{#
/**
 * @file climadata_template.html.twig
 * Default theme implementation to present Ciudad data.
 *
 * This template is used when viewing Ciudad pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_city_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('clima_div') }}>
    <h3>Valores del clima para la ciudad :{{ city.name }}, Country: {{ city.code_country | upper}}</h3>
    <div style="overflow-x:auto;">
        <table>
            <tr>
            {% for key, value in data %}
                <th>{{key | capitalize | replace("_", " ") }}</th>
            {% endfor %}
            </tr>
            <tr>{% for key, value in data %}
                <td>{{value}}</td>
            {% endfor %}
            </tr>
        </table>
    </div>
</div>